/* code below = to set up a gradiant */
/* to use: MUST name a <div> gradiant, or change gradiant below */
/* this <div> must encompass the entire screen, or the area we desire a gradiant in */
/* obviously, this can be added as <style> within the HTML file... */
/* ...or this file must be referenced within said HTML file */
#gradiant {
    height: 750px;
    width: 500px;
    background: radial-gradient(#C6C3C3, #434241, #0B0B0B);
}
