*{
  font-size: 12px;
}
canvas {
  display: block;
  margin: 0 auto;
}

body {
  background: radial-gradient(#C6C3C3, #434241, #0B0B0B);
}

.btn {
  margin-left: 400px;
  justify-content: center;
  background-color: red;
}

#startBtn {
  display: inline-block;
  margin-top: 500px;
  height: 75px;
  width: 400px;
}

.ui {
  height: 800px;
  width: 1200px;
  margin: 0 auto;
  background-color: blue;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.center {
  justify-content: center;
}

.center li {
  background: deepskyblue;
  text-align: center;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 60px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

#startBtn {
  font-size: 30px;
  font-weight: bold;
}
